@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Chivo", sans-serif;
}

/* Navbar section */
#mobileview {
  width: 100%;
  height: 100vh;
  background-color: #ad0909;
  position: fixed;
  left: -100%;
  top: 0;
  z-index: 99;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#mobileview i {
  position: absolute;
  top: 2%;
  right: 5%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mobileview #nav-elements {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

#nav-elements a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #ad0909;
  font-family: "Inter";
  font-style: normal;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.navbar #menu {
  display: none;
}

.navbar .logo {
  height: 100%;
  width: 80px;
  margin-left: 2rem;
}
.logo img {
  width: 120px;
  height: 100%;
}
.navbar .nav-links {
  width: 90%;
  height: 100%;
}
.nav-links ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
  list-style: none;
  height: 100%;
}
.nav-links ul li {
  text-transform: uppercase;
  font-size: 15px;
  padding: 25px;
  height: 70px;
  display: flex;
  align-items: center;
}
li a {
  text-decoration: none;
  color: #ffff;
}
.nav-links .profile {
  padding-left: 2rem;
}
.nav-links > ul > li:hover {
  background-color: #9c0808;
}

.profile .profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-pop-up {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}

.login-pop-up .form-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  height: 20em;
  background-color: white;
  border-radius: 0.625em;
  padding: 2em 2em;
  z-index: 99;
}

/* Pop Up */
.pop-up {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.397);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}
.navbar p {
  cursor: pointer;
  color: #fff;
}
.form-div #close-popup {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pop-up .form-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  background-color: white;
  border-radius: 3px;
  padding: 2em 2em;
  font-family: "Roboto", sans-serif;
}
.form-div h4 {
  color: #51505d;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.375em;
  font-family: "Roboto", sans-serif;
}
.form-div #account-form {
  text-align: left;
  margin-top: 1.875em;
}
.form-div h6 {
  font-weight: 400;
  font-size: 14px;
  color: #72727d;
  margin-bottom: 0.3125em;
  font-family: "Roboto", sans-serif;
}
.form-div .profile {
  width: 100%;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  margin-bottom: 1em;
  font-size: 15px;
  border: 1px solid #ccc;
  margin-left: 0;
  outline: none;
  color: #72727d;
}

.form-div #flex-div {
  width: 100%;
  display: flex;
  gap: 1em;
}

.form-div .name {
  width: 7.5em;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  outline: none;
  color: #72727d;
}
#flex-div .town {
  width: 40%;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  margin-bottom: 1em;
  font-size: 15px;
  border: 1px solid #ccc;
  outline: none;
  color: #72727d;
}
.form-div #btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-div button {
  width: 7.5em;
  padding: 0.4em 0.5em;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ad0909;
  color: #fff;
  border: none;
  margin-bottom: 0.5em;
}
#form-2 button {
  margin-left: 2em;
}
#form-3 button {
  margin-left: 2em;
}
#form-4 button {
  margin-left: 2em;
}
#form-5 button {
  margin-left: 2em;
}
#form-6 button {
  margin-left: 2em;
}

#form-7 button {
  margin-left: 2em;
}
#form-8 button {
  margin-left: 2em;
}
#form-9 button {
  margin-left: 2em;
}
#form-10 button {
  margin-left: 2em;
}
.form-div #a {
  width: 8em;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  margin-bottom: 1em;
}
.form-div #email {
  width: 12em;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  margin-bottom: 1em;
}
.form-div #btn-flex {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

button a {
  color: #fff;
  text-decoration: none;
}
.form-div h5 {
  color: #ad0909;
  font-size: 10px;
  margin-left: 6.5em;
  margin-top: 1em;
  letter-spacing: 0.5px;
}
.form-div #login {
  text-decoration: none;
  color: blue;
}
.form-div a {
  text-decoration: none;
}
#form-1 .file-upload {
  background-color: #5b5555;
}
#form-2 {
  display: none;
}
#form-3 {
  display: none;
}
#form-4 {
  display: none;
}
#form-5 {
  display: none;
}
#form-6 {
  display: none;
}
#form-7 {
  display: none;
}
#form-8 {
  display: none;
}
#form-9 {
  display: none;
}
#form-10 {
  display: none;
}
#login-form {
  display: none;
}
#login-form h4 {
  font-size: 25px;
  line-height: 1rem;
}
textarea {
  width: 100%;
  border: 1px solid;
  outline: none;
  border-radius: 0.625em;
}
.form-div #login-form-inner {
  text-align: left;
  margin-top: 1.875em;
}
#login-form-inner input[type="password"],
#login-form-inner input[type="email"] {
  width: 100%;
}

/* Blog Section */
#hero-sec {
  width: 100%;
  height: 80vh;
  background-image: url("img/blog-hero-img.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#sec1 {
  font-family: "poppins";
}
#sec1 h1 {
  text-align: center;
  color: #ad0909;
  font-size: 4em;
  margin: 2rem auto;
}
#sec1-container {
  display: flex;
  margin-bottom: 4rem;
}
.sec1-blog-div {
  width: 60%;
  padding: 0 3rem;
}
.sec1-img-div {
  width: 100%;
}
.sec1-img-div img {
  width: 100%;
  border-radius: 20px;
}
.sec1-blog-div p {
  margin-top: 2rem;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
}
.sec1-ads-div {
  width: 40%;
  margin: 0 3rem;
  background-color: #72727d20;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sec1-ads-div img {
  margin: 0 auto;
  width: 90%;
}
hr {
  background-color: #ad0909;
  width: 90%;
  height: 3px;
  margin: 0 auto;
}
#sec2 {
  width: 80%;
  margin: 0 auto;
  font-family: "poppins";
  margin-bottom: 4rem;
}
#sec2 h2 {
  text-align: center;
  color: #ad0909;
  font-size: 2.5em;
  margin: 2rem auto;
}
#sec2 p {
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: justify;
}

/* Footer section*/
.footer {
  background: #ad0909;
  text-align: center;
  padding-top: 1rem;
}
.logo-img {
  padding-bottom: 2rem;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  width: 70%;
  margin: 0 auto;
}
.foot-links-div {
  width: 20%;
}
.links-title {
  color: #ffffff;
  font-size: 24px;
  padding: 1.2rem 1rem;
}
.foot-links {
  border-top: 1px solid #dd9b9b;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
}
.foot-links li {
  padding: 0.4rem;
}
.foot-links > li > a {
  color: #ffffff;
  opacity: 0.6;
  font-size: 20px;
}
.footer-links .social-links {
  width: 100%;
}
.social-links .social-title {
  width: 100%;
  margin: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}
.social-links .social-icons {
  padding: 1rem;
}
.social-icons > img {
  padding: 1rem;
  width: 60px;
  height: 60px;
}
.footer .footer-end {
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #cbcbcb;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  padding: 1rem 0;
}
.footer-end .privacy-policy {
  padding: 0 2rem;
  border-left: 0.2rem solid #cbcbcb;
  border-right: 0.2rem solid #cbcbcb;
}
.footer-end .terms-condtns {
  padding-right: 3rem;
}
.footer-end .contact-us {
  padding-left: 3rem;
}
@media (min-width: 320px) and (max-width: 550px) {
  .navbar {
    width: 100%;
    height: 50px;
  }
  .navbar .profile #circle {
    display: none;
  }
  .navbar .nav-links li {
    display: none;
  }
  .profile .profile-icon {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
  }
  .profile .profile-icon img {
    height: 20px;
  }
  .navbar #menu {
    display: initial;
    color: #fff;
    margin-left: 15px;
    font-size: 30px;
    margin-top: 5px;
  }
  .logo img {
    width: 90px;
    height: 100%;
    margin-left: -1rem;
  }

  /* Blog Section */

  #hero-sec {
    height: 70vw;
    background-position: center;
    background-size: contain;
  }
  #sec1 h1 {
    font-size: 2.5em;
    margin: 0rem auto;
    margin-bottom: 1rem;
  }
  #sec1-container {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .sec1-blog-div {
    width: 100%;
    padding: 0 2rem;
  }
  .sec1-blog-div p {
    margin-top: 1rem;
    font-size: 1em;
    line-height: normal;
  }
  .sec1-ads-div {
    width: 90%;
    margin: 0 2rem;
    margin-top: 2rem;
    background-color: #fff;
    flex-direction: row;
  }
  .sec1-ads-div img {
    width: 85%;
  }
  .sec1-ads-div img:first-of-type {
    display: none;
  }
  #sec2 h2 {
    font-size: 2em;
    margin: 1rem auto;
  }
  #sec2 p {
    font-size: 1em;
    line-height: normal;
  }

  /* Footer */
  .logo-img img {
    width: 100px;
  }
  .footer-links {
    width: 100%;
    justify-content: space-around;
  }
  .foot-links-div {
    width: 25%;
  }
  .links-title {
    padding: 0;
    padding-bottom: 0.7rem;
    font-size: 12px;
  }
  .foot-links {
    padding: 1rem 0;
  }
  .foot-links li {
    padding: 0rem;
  }
  .foot-links > li > a {
    font-size: 10px;
  }
  .social-links .social-title {
    font-size: 12px;
  }
  .social-links .social-icons {
    padding: 0;
  }
  .social-icons > img {
    padding: 1rem 0;
    width: 50px;
    height: 50px;
  }
  .footer .footer-end {
    font-size: 10px;
  }
  .footer-end .terms-condtns {
    padding-right: 1rem;
  }
  .footer-end .privacy-policy {
    padding: 0 1rem;
  }
  .footer-end .contact-us {
    padding-left: 1rem;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .navbar {
    width: 100%;
    height: 50px;
  }
  .navbar .profile #circle {
    display: none;
  }

  .navbar .nav-links li {
    display: none;
  }

  .profile .profile-icon {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
  }
  .profile .profile-icon img {
    height: 20px;
  }

  .navbar #menu {
    display: initial;
    color: #fff;
    margin-left: 15px;
    font-size: 30px;
    margin-top: 5px;
  }

  .logo img {
    width: 90px;
    height: 100%;
    margin-left: -1rem;
  }

  /* Blog Section */

  #hero-sec {
    background-position: right;
  }
  #sec1 h1 {
    font-size: 2.5em;
    margin: 1rem auto;
  }
  #sec1-container {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .sec1-blog-div {
    width: 100%;
    padding: 0 3rem;
  }
  .sec1-blog-div p {
    margin-top: 1rem;
    font-size: 1em;
    line-height: normal;
  }
  .sec1-ads-div {
    width: 90%;
    margin: 0 2rem;
    margin-top: 2rem;
    background-color: #fff;
    flex-direction: row;
  }
  .sec1-ads-div img {
    width: 40%;
  }
  #sec2 h2 {
    font-size: 2em;
    margin: 1rem auto;
  }
  #sec2 p {
    font-size: 1em;
    line-height: normal;
  }

  /* Footer */
  .logo-img img {
    width: 100px;
  }
  .footer-links {
    width: 100%;
    justify-content: space-around;
  }
  .foot-links-div {
    width: 25%;
  }
  .links-title {
    padding: 0;
    padding-bottom: 0.7rem;
    font-size: 14px;
  }
  .foot-links {
    padding: 1rem 0;
  }
  .foot-links li {
    padding: 0rem;
  }
  .foot-links > li > a {
    font-size: 12px;
  }
  .social-links .social-title {
    font-size: 14px;
  }
  .social-links .social-icons {
    padding: 0;
  }
  .social-icons > img {
    padding: 1rem 0;
    width: 50px;
    height: 50px;
  }
  .footer .footer-end {
    font-size: 12px;
    padding: 0.5rem 0;
  }
  .footer-end .terms-condtns {
    padding-right: 1rem;
  }
  .footer-end .privacy-policy {
    padding: 0 1rem;
  }
  .footer-end .contact-us {
    padding-left: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1100px) {
  .navbar {
    width: 100%;
    height: 50px;
  }
  .navbar .profile #circle {
    display: none;
  }
  .navbar .nav-links li {
    display: none;
  }
  .profile .profile-icon {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
  }
  .profile .profile-icon img {
    height: 20px;
  }
  .navbar #menu {
    display: initial;
    color: #fff;
    margin-left: 15px;
    font-size: 30px;
    margin-top: 5px;
  }
  .logo img {
    width: 90px;
    height: 100%;
    margin-left: -1rem;
  }

  /* Blog SEction */
  #sec1 h1 {
    font-size: 3em;
    margin: 1.5rem auto;
  }
  .sec1-blog-div {
    width: 60%;
    padding: 0 2rem;
  }
  .sec1-blog-div p {
    margin-top: 1.5rem;
    font-size: 1em;
  }
  .sec1-ads-div {
    width: 40%;
    margin: 0 1rem;
  }
  .sec1-ads-div img {
    margin: 0 auto;
  }
  #sec2 {
    width: 80%;
    margin: 0 auto;
    font-family: "poppins";
    margin-bottom: 4rem;
  }
  #sec2 h2 {
    font-size: 2em;
    margin: 1rem auto;
  }
  #sec2 p {
    font-size: 1em;
  }

  /* footer */

  .logo-img img {
    width: 100px;
  }
  .footer-links {
    width: 100%;
    justify-content: space-around;
  }
  .foot-links-div {
    width: 15%;
  }
  .links-title {
    padding: 0;
    padding-bottom: 0.7rem;
    font-size: 14px;
  }
  .foot-links {
    padding: 1rem 0;
  }
  .foot-links li {
    padding: 0.2rem;
  }
  .foot-links > li > a {
    font-size: 12px;
  }
  .social-links .social-title {
    font-size: 14px;
  }
  .social-links .social-icons {
    padding: 0;
  }
  .social-icons > img {
    padding: 1rem 0;
    width: 50px;
    height: 50px;
  }
  .footer .footer-end {
    font-size: 12px;
    padding: 0.5rem 0;
  }
  .footer-end .terms-condtns {
    padding-right: 1rem;
  }
  .footer-end .privacy-policy {
    padding: 0 1rem;
  }
  .footer-end .contact-us {
    padding-left: 1rem;
  }
}
