@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background: #dbdbdb;
}

/* Navbar */
#mobileview {
    width: 100%;
    height: 100vh;
    background-color: #AD0909;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 99;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}  
#mobileview i {
    position: absolute;
    top: 2%;
    right: 5%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#mobileview #nav-elements {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
  
#nav-elements a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.profile-navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 8%;
    background: #AD0909;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.profile-navbar .navbar {
    width: 90%;
}
.profile-navbar .setting {
    width: 10%;
}
.navbar ul {
    width: 100%;
    height: 35px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar ul>li {
    list-style: none;
    width: 95%;
    text-align: center;
    border-right: 1px solid white;
    position: relative;
}
.navbar>ul>.search-item {
    border-right: none;
}
li>.nav-item {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    padding-bottom: .5rem;
    font-size: 17px;
}
.nav-item:after {
	position: absolute;
    left: 0;
    content: '';
    height: 3px;
    background: #ffffff;
    transition: all 0.3s linear;
    width: 0;
    bottom: 0;
}  
.nav-item:hover:after {
    width: 100%;
}
.setting {
    width: 5%;
    height: 100%;
}
.setting>i {
    width: max-content;
    height: 100%;
    font-size: 30px;
    color: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar>ul>.logo-item {
    width: 100%;
    border-right: none;
    height: 100%;
}
.navbar>ul>.logo-item>.logo {
    width: max-content;
}
.logo-item>.logo>img{
    width: 100%;
    height: 100%;
}

/* Menu icon */ 
.menu-icon {
    /* display: none; */
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    position: relative;
}
.ri-menu-line {
    position: absolute;
    top: 8%;
    left: 0;
}

/* Setting content */
.setting-div {
    display: none;
    font-size: 15px;
    font-weight: 0;
    width: max-content;
    background: gold;
    padding: 1rem;
    position: absolute;
    border-radius: 10px;
    top: 8%;
    right: 8%;
    text-align: center;
}
.setting-div .setting-item {
    padding: .5rem;
}
.setting-item>a {
    text-decoration: none;
    color: rgb(69, 69, 69);
}



/* Main Content */
.content {
    display: flex;
}
.content .img-right , .img-left {
    width: 20%;
}
.img-right img, .img-left img {
    width: 100%;
    height: 100%;
}
.content .profile-data-div {
    background-image: url(./images/partner-profile-bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
    display: flex;
    position: relative;
    flex-direction: column;
}
.profile-data-div .profile-img {
    height: 25%;
    width: 30%;
    position: absolute;
    top: 14%;
    left: 32%;
}
.profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 7px 7px 10px 1px #28282885;
}
.profile-data-div .profile-data {
    text-align: center;
    width: 50%;
    position: absolute;
    top: 40%;
    left: 23%;
    height: 40%;
}
.profile-data h2, h3 {
    margin-bottom: .5rem;
    color: #ffffff;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}
.profile-data>table {
    width: 100%;
    height: 70%;
}
.table-body {
    text-align: center;
    margin: auto;
}
.label {
    color: #ffd700;
    text-align: center;
}
.desc {
    color: #ffffff;
    text-align: center;
}

/* Responsive CSS */
@media (max-width: 550px) {

}